* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, Helvetica;
  overflow-y: hidden;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.footer {
  background: transparent;
  height: 200px;
}

/* =================================== */
/* Common css */

.content {
  color:rgb(41, 41, 41);
  font-size: 18px;
}

.sub-content {
  color: rgb(65, 65, 65);
  font-style: italic;
  font-size: 16px;
}

.primary-color {
  color:rgb(26, 92, 146);
}

.secondary-color {
  color:rgb(53, 53, 53);
}

.tint-color {
  color: #d69f1d;
}

.content-background {
  background-color: rgba(255,255,255,0.8);
}

/* =================================== */
/* Navbar css */

nav {
  background: #522e009e;
  /* background: #1a5d9259; */
  height: 70px;
  width: 100%;
}

nav > ul {
  float: right;
  margin: 30px 6vh 0 0;
  color: rgb(215,215,215);
}

nav > ul li {
  display: inline;
  cursor: pointer;
}

nav > ul li a {
  font-size: 1rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

ul > li > a:hover {
  /* background-color: rgba(255,255,255,0.7); */
  color: #ffffff;
  transition: 0.5sec;
}

ul > li > a.active {
  background-color: white;
  color: rgb(26 93 146);
}

label.logo {
  float: left;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 4vw;
  line-height: 10vh;
  font-weight: bold;
}

.checkbtn {
  font-size: 1.5rem;
  color: white;
  float: right;
  line-height: 10vh;
  margin-right: 7vw;
  cursor: pointer;
  display: none;
}

/* ------------------------------------------------------- */

.left {
  color: white;
  width: 27%;
  background-color: #522e006b;
  float: left;
  height: 100vh;
}

.right {
  float: right;
  color: white;
  width: 73%;
  overflow-y: scroll;
  background-color: #522e006b;
  height: 100vh;
}

/* sections */

section {
  width: 67vw;
  position: relative;
  height: auto;
  background-color: #191919;
  margin: 6vh auto;
  padding: 7vh 4vw 7vh 4vw;
  display: block;
}

section.content-wrapper {
  height: 78vh;
  overflow-y: scroll;
}

section.intro {
  width: 23.4vw;
  height: 78vh;
  margin: 6vh 0 0 6vh;
  padding: 7vh 2vw;
  overflow-y : hidden;
}

.profile-img {
  display: block;
  border-radius: 50%;
  border: 3px solid rgba(81,81,81,1);
  width: 12vw;
  margin: auto;
}

h1 {
  /* font-family: "Orbitron", cursive; */
  font-size: 3rem;
  
  padding: 10px;
  /* border-bottom: 2px solid rgb(20, 157, 100); */
}

h2 {
  /* font-family: "Orbitron", cursive; */
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h4 {
  font-size: 1rem;
  margin-top: 1rem;
}

.center {
  text-align: center;
}

#intro {
  display: none;
  overflow-y: hidden;
}

.intro-contact {
  line-height: 2;
}

section > li {
  margin: 0.5rem 2rem 0 2rem;
}

.list-item {
  margin: 0.6rem 0 0 5vw;
}
.list-link {
  text-decoration: none;
}

.justify {
  text-align: justify;
  font-size: 18px;
}

section li {
  text-align: justify;
}

#research a {
  text-decoration: none;
}
#research a:hover {
  text-decoration: underline;
}

/* ------------------------------------- */

@media (max-width: 1280px) {
  label.logo {
    font-size: 1.5rem;
    margin-left: 5vw;
  }
  nav > ul li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 1180px) {
  .left {
    display: none;
  }
  .tint-color {
    color:rgb(41, 41, 41);
  }
  strong {
    font-weight: 100;
  }
  
  #intro {
    display: block;
  }
  
  #about {
    height: max-content;
    margin-bottom: 6rem;
  }

  .profile-img {
    width: 25vw;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    padding: 10px;
  }

  h3 {
    font-size: 1.6rem;
  }

  .right {
    width: 100%;
  }
  section {
    width: 88vw;
    margin: 5vh auto;
    padding: 5vh 5vw;
  }
  section.content-wrapper {
    height: 80vh;
    overflow-y: scroll;
  }
  .checkbtn {
    display: block;
  }

  nav > ul {
    position: fixed;
    background: #522e00e3;
    width: 42%;
    height: 100vh;
    top: 70px;
    right: -100%;
    margin: 0;
    min-width: 350px;
    min-height: 540px;
    text-align: left;
    transition: all 0.5s;
    z-index: 1000;
  }
  nav > ul li {
    display: block;
    margin: 50px 4vw;
    line-height: 2.5rem;
  }
  nav > ul li a {
    font-size: 1rem;
  }
  a:hover,
  a.active {
    background: none;
  }
  li > a:hover {
    background: none;
    transition: 0.5sec;
  }
}

@media (max-width: 800px) {
  nav > ul {
    width: 70%;
    background: #522e00e3;
    height: 100vh;
    right: -100%;
    top: 70px;
    min-width: 350px;
    min-height: 540px;
  }
  nav > ul li {
    display: block;
    line-height: 1.8rem;
  }
  nav > ul li a {
    font-size: 0.9rem;
  }
}
