@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
/* Import */
/* Variables */
/* Base */
/* body {
  background: #252827;
  font-size: 16px;
} */
p {
  margin-top: 7px;
}

strong {
  font-weight: 600;
}
#content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #4298c3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #2196f31c;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Source Sans Pro", sans-serif;
  margin: 50px 0 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 80%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  line-height: 2rem;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -240px;
  color: rgba(65, 65, 65, 1);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 18px;
  min-width: 120px;
}
.timeline .year:before {
  font-size: 25px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #4298c3;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

@media (max-width: 950px) {
  .timeline {
    max-width: 95%;
  }
  .timeline h3 {
    padding-top: 50px;
  }
  .timeline .event:before {
    left: 0px;
    font-size: 22px;
    /* color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px; */
  }
  .timeline .year:before {
    left: -73px;
    /* color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px; */
  }
}
